# Copy this file to .env.local under project root and `pnpm test` to run tests.

TEST_PUBLISHER_ID=your-publisher-id
TEST_CLIENT_ID=your-client-id
TEST_CLIENT_SECRET=your-client-secret
TEST_REFRESH_TOKEN=your-refresh-token
TEST_EXTENSION_ID=your-extension-id
